<link rel="icon" type="image/x-icon" href="https://blog.lqh2011.com/favicon.jpg">
<link rel="apple-touch-icon" sizes="180x180" href="https://blog.lqh2011.com/favicon.jpg">
<meta name="apple-mobile-web-app-title" content="Blog de Jesús">
<meta name="application-name" content="Blog de Jesús" >
<style>
  .sidebar-bio { font-style: italic; color: #666; }
  * {font-family: Optima, sans-serif, serif;}
</style>
<script type="text/javascript">
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      processEscapes: true
    },
    svg: {
      fontCache: 'global'
    }
  };
</script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>